@import 'tailwindcss';

* {
  font-family: Poppins, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@theme {
  --color-dark-gray: #262626;
}
